@font-face {
	font-family: "Alex Brush Font";
	src: url("../font/AlexBrush-Regular.ttf");
}

@font-face {
	font-family: "Imprima";
	src: url("../font/Imprima-Regular.ttf");
}

@font-face {
	font-family: "Janda Quick Note";
	src: url("../font/JandaQuickNote.ttf");
}

* {
	box-sizing: border-box;
}

body {
	background-image: url(https://t4.ftcdn.net/jpg/01/94/24/07/240_F_194240734_jj7EeN8PKCXg0RUm4FHzzVowlrISksRK.jpg);
	font-family: "Source Han Sans", sans-serif;
	margin: 0;
}

@media screen and (max-width: 1152px) {
	body {
		font-size: 90%;
	}
}

p {
	line-height: 1.5;
}

h1 {
	background-image: url(hbg.png);
	background-size: 100% 100%;
	color: midnightblue;
	display: inline-block;
	font-family: "Alex Brush Font", cursive;
	font-size: 300%;
	line-height: 1;
	padding: 1.25em 5em 1.5em 2.5em;
	text-align: center;
}

@media screen and (max-width: 1152px) {
	h1 {
		font-size: 275%;
		padding: 1.25em 3em 1.5em 1.25em;
	}
}

a {
	text-decoration: none;
}

a:link {
	color: dodgerblue;
}

a:hover {
	color: DeepPink;
}

header {
	font-size: 125%;
	line-height: 1.625;
	padding: 0 1.5em;
	text-align: center;
}

section {
	background-image:
		radial-gradient(circle at top 0.5em left 0.5em, white 0.375em, transparent 0.375em),
		radial-gradient(circle at bottom 0.75em right 0.75em, white 0.25em, lavender 0.25em);
	background-size: 2.5em 2.5em;
	border: 1px solid purple;
	margin: 2em auto;
	width: 800px;
}

@media screen and (max-width: 1152px) {
	section {
		width: 80%;
	}
}

section > h2 {
	font-style: italic;
	margin: 1em 1.5em;
}

section > article {
	background-color: rgba(255,255,255,0.375);
	border: 0.375em double purple;
	margin: 2em 3em;
	padding: 1em 1.5em;
}

@media screen and (max-width: 1152px) {
	section > article {
		margin: 2em 2em;
	}
}

section > article > h3 {
	margin: 0;
}

section > article:nth-child(2n) > h3::before {
	color: DeepPink;
	content: "★　";
}

section > article:nth-child(2n+1) > h3::before {
	color: DeepPink;
	content: "❤　";
}

section > article > p {
	font-family: "Janda Quick Note", cursive;
	font-weight: bold;
	letter-spacing: 1px;
	margin-top: 1em;
	margin-bottom: 0;
	text-align: justify;
}

#contents_useronly, #contents_adminonly {
	display: none;
}

footer {
	color: purple;
	font-size: 90%;
	line-height: 1.625;
	margin: 1em 2em;
	text-align: center;
}

/* Inspired by http://www.codeitpretty.com/2013/10/washi-tape-notes-with-html-css.html */

article {
	position: relative;
	box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.5);
}

article::before, article::after {
	display: block;
	position: absolute;
}

article::after {
	content: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/large-washi-right.png);
	right: -2em;
	top: -2em;
}

@media screen and (max-width: 1152px) {
	article::after {
		right: -3.5em;
		top: -2.5em;
		transform: scale(0.8);
	}
}
